.container_modal {
    margin: 50px auto;
    max-width: 40rem;
    max-height: 34rem;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}
.block_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head_modal {
    font-size: 2rem;
    line-height: 3.25rem;
    color: #263057;
}
.container-modal input{
    padding: 1rem 1.6rem;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.container-modal input::placeholder{
    color: rgba(38, 48, 87, 0.5);
    font-size: 1.125rem;
    line-height: 1.6rem;
}

.sqare {
    margin-right: 0.5rem;
}

.sqare_text {
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: #263057;
}

.modal_btn {
    margin-top: 1rem;
}

.btn {
    padding: 1rem 4rem;
    color: #fff;
    background: #3FA79E;
    border-radius: 60px;
}

.one_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
