.head_reviews {
    margin: 1rem 0;
    color: #212529;
    font-size: 2rem;
}

.form {
    margin: 1rem 0;
}

.container_form {
    max-width: 40rem;
    margin: 0 auto;
}

.arrow_curs {
    display: inline-block;
    position: relative;
    margin: 0 2rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    color: #212529;
    cursor: pointer;
}

.arrow_curs::after {
    content: '➤';
    margin-left: 0.4rem;
    -webkit-transition: 1s ease;
}

.arrow_curs:hover::after {
    transition: all 1s;
    content: '⮟';
}

.curs_comment {
    max-height: 4rem;
    overflow: auto;
    position: absolute;

    opacity: 0;
}

.arrow_curs:hover ul {
    transition: all 1s;
    opacity: 1;

}

.curs_comment li {
    color: #212529;
}

.curs_comment li:hover {
    border-bottom: 2px solid #9E9C9C;
}

.form_name {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #212529;
}

.name_inp {
    max-width: 100%;
    padding-left: 0.3rem;
    padding-top: 1rem;
    border: none;
    background: #F6F1F1;
    border-bottom: 2px solid #212529;
    border-radius: 5px;
}

.container_comment {
    margin-top: 4rem;
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    padding: 1rem;
    margin-left: 4rem;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    background: #bdbebd;
    border: 2px solid #bdbebd;
    cursor: pointer;
    -webkit-transition: background 1s;
}

.btn:hover {
    transition: all 1s;
    background: #6C757D;
}

.comment {
    padding-top: 1rem;
    border: 1px solid #6C757D;
    border-radius: 20px;
    background: #F6F1F1;
}

.container_people {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.container_people li {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
}

.text_reviews {
    margin-left: 3rem;
}

.name_reviews {
    font-size: 2rem;
    font-weight: 700;
    color: #212529;
}

.curs_reviews, .comment_reviews {
    font-size: 1rem;
    color: #212529;
}
