.content {
    max-width: 47.5rem;
    margin: 50px auto;
    background: #1D1D1D;
    border-radius: 15px;
}

.block_inputs {
    padding: 1.5rem 1.5rem 0.5rem;
}

.head_close {
    text-align: end;
}
.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2.2rem;
    padding: 1.5rem 5rem 5rem;
}

.inputs input::placeholder {
    padding-left: 2rem;
    text-align: start;
    font-size: 1.2rem;
}

.inputs input {
    width: 25rem;
    padding: 0.9rem 0;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
}

.inputs button{
    text-align: start;
    font-size: 1.5rem;
    padding: 0.7rem 5rem;
    background: #005DF2;
    border-radius: 15px;
    color: #fff;
}